# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.cache/
.pytest_cache/

# ---- venv ----
ml_env/
.venv/
venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- OS / editor ----
.DS_Store
.vscode/
.idea/

# ---- Data / outputs (IMPORTANT) ----
*.csv
*.npz
*.json
*.zip

# (Se vuoi tenere qualche csv specifico, lo ri-abiliti con !filename.csv)

# ---- Models / checkpoints ----
*.pth

# ---- Logs ----
*.log
